body {
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table.table_options{
  width:100%;
  background-color: white;
  text-align: center;
  height: 10em
}

td.cell_voting{
  /* background-color: red; */
}

button.button_voting{
  width: 100%;
  height: 100%;
}
